<div id="map" class="map"></div>
<div id="mouse-position"></div>
<p-toast position="top-right"></p-toast>

<div class="drawing-tools">
    <div>
        <p-button icon="pi pi-search" (click)="displayFindADeed = !displayFindADeed" title="Find a Deed"></p-button>
        <select *ngIf="deeds != null && displayFindADeed == true" class="find-a-deed" placeholder="Find a Deed" (change)="findDeed($event)" style="font-size: 14px;">
            <option *ngFor="let deed of deeds; let i = index;" value="{{i}}">
                {{ deed.name }}
            </option>
        </select>
    </div>
    <div>
        <p-button icon="pi pi-pencil" (click)="showDrawingTools()" title="Activate drawing toolage"></p-button>
    </div>
</div>
<div class="drawing-tools-panel" [hidden]="!displayDrawingTools">
    <p-selectButton [options]="tools" (onOptionClick)="selectTool($event)"></p-selectButton>
</div>