<img class="logo" src="./../../../assets/logo_transparent.png" alt="Wurm Online Maps Logo">

<div class="container">
  <h3>Maps:</h3>
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <a routerLink="/xanadu" routerLinkActive="active">Xanadu Community Map</a>
        </li>
        <li>
          <a routerLink="/pristine" routerLinkActive="active">Pristine Community Map</a>
        </li>
        <li>
          <a routerLink="/harmony" routerLinkActive="active">Harmony Community Map</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="disclaimer">
        <span>Disclaimer: </span>Wurm Online Maps (dot com) is NOT a project of Code Club AB or wurmonline.com.
      </p>
    </div>
  </div>

  <hr />
  <footer>
    <p>2016 - {{currentYear}} by Jackjones</p>
  </footer>

</div>